################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Caldast.AlgoLife/bin/Debug
/.vs/Caldast.AlgoLife/v15/sqlite3
/Caldast.AlgoLife/obj
/Caldast.AlgoLife.UnitTests/bin/Debug
/Caldast.AlgoLife.UnitTests/obj
/packages
/.vs/Caldast.AlgoLife/v15/.suo
/.vs/Caldast.AlgoLife
/.vs
/Caldast.AlgoLife.DesignPatterns/bin/Debug
/Caldast.AlgoLife.DesignPatterns/obj/Debug
/Caldast.OODesignProblems/bin/Debug
/Caldast.OODesignProblems/obj/Debug
/Caldest.CSharpConcepts
/Caldast.AlgoLife.DesignPatterns/obj/Release
/Caldast.OODesignProblems/Program.cs
/Caldast.OODesignProblems/obj/Release
/Caldast.OODesignProblems/Caldast.OODesignProblems.csproj.user
